include LICENSE
include MANIFEST.in
include *.rst
recursive-include os_ken *.xsd
graft doc
graft etc
graft tools
recursive-exclude doc/build *
recursive-exclude os_ken/tests/packet_data_generator *
recursive-exclude os_ken/tests/packet_data_generator2 *
global-exclude *~
global-exclude *.pyc
global-exclude .gitignore
